<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />

    <!-- 官方源 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <!-- 阿里源 -->
    <!-- <add key="aliyun" value="https://nuget.aliyun.com/v3/index.json" protocolVersion="3" /> -->

    <!-- 华为源 -->
    <!-- <add key="huawei" value="https://mirrors.huaweicloud.com/repository/nuget/v3/index.json" protocolVersion="3" /> -->

    <!-- 腾讯源 -->
    <!-- <add key="tencent" value="https://mirrors.cloud.tencent.com/nuget/v3/index.json" protocolVersion="3" /> -->

  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>
